@{
    ViewBag.Title = "微信图文素材";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<div style="height:100%;width:100%;">
   
    <div style="float:left;margin-right:5px;border:1px solid #CACACA;width:262px;">
    <div style="padding:10px">
        <div>
            更新于@(DateTime.Now)
        </div>
        <hr />
        <p>fdgdg<p>
        <div style="position:relative">
            <img src="~/Images/HeadPicture/2017-05/20170525175616830.png" style="width:240px;height:160px"  />
            <div style="position:absolute;background-color:rgba(0,0,0,0.5);height:25px;width:100%;bottom:0;left:0;padding:0 10px;line-height:25px;color:white">
                齑还房贷是否会十多个符
            </div>
        </div>
        <p style="padding-top:5px">淡饭黄齑还房贷是否会十多个符合规所发生的</p>
    </div>
    <div>
        <p style="width:50%;display:block;float:left;height:40px;line-height:40px;text-align:center;background-color:#CACACA;margin-bottom:0px;";>编 辑</p>
        <p style="width:50%;display:block;float:left;height:40px;line-height:40px;text-align:center;background-color:#CACACA;margin-bottom:0px;">删除</p>
    </div>
    </div>

    <div style="float:left;margin-right:5px;border:1px solid #CACACA;width:262px;">
        <div style="padding:10px">
            <div>
                更新于@(DateTime.Now)
            </div>
            <hr />
            <p>fdgdg<p>
                <div>
                    <img style="width:240px;height:160px" />
                </div>
            <p style="padding-top:5px">淡饭黄齑还房贷是否会十多个符合规所发生的</p>
        </div>
        <div>
            
        </div>
        <div>
            <p style="width:50%;display:block;float:left;height:40px;line-height:40px;text-align:center;background-color:#CACACA;margin-bottom:0px;" ;>编 辑</p>
            <p style="width:50%;display:block;float:left;height:40px;line-height:40px;text-align:center;background-color:#CACACA;margin-bottom:0px;">删除</p>
        </div>
    </div>

</div>
