@{
    ViewBag.Title = "后台用户";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<script src="~/Scripts/plug-in/picture/upload.js"></script>
<table id="AdminUser" style="height:100%;width:100%"></table>
<div id="AdminUser_toolbar" style="padding:8px;">
    <form id="search">
        @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
        <span>模糊查询:</span><input type="text" class="form-control" placeholder="姓名/手机号码"
                                 style="width:200px;height:30px;vertical-align:bottom;display:inline-block;">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var buttonList=@Html.Raw(ViewData["Button_NotToolbar"]);
        var admin = new adminPackage();
        //注册路由
        admin.routeRegister("Admin", "AdminUser");
       
        //模糊查询
        $('.searchText').on("click", function () {
            var searchText = $('#search input').val();
            admin.grid.datagrid({
                queryParams: {
                    searchText: searchText
                }
            });
        });

        /*!
        * method:数据列表(datagrid)的绑定
        */
        admin.grid.datagrid({
            fit:true,
            url: admin.route('List'),
            toolbar:admin.toolbar,
            fitColumns:true,
            rownumbers:true,
            striped: true,
            pagination: true,
            pageSize:20,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sOpenId', title: 'OpenId', align: 'center', sortable: true, width: 120 },
                {
                    field: 'sHeadPicture', title: '头像', align: 'center', sortable: true, width: 80, formatter: function (value) {
                        var html = [];
                        html.push('<img src="' + value + '" style="height:50px;width:50px;border-radius:25px;" />');
                        return html.join("");

                    }
                },
                { field: 'sNick', title: '昵称', align: 'center', sortable: true, width: 80 },
                { field: 'sName', title: '姓名', align: 'center', sortable: true, width: 60 },
                { field: 'sPhone', title: '手机号码', align: 'center', sortable: true, width: 100},
                { field: 'sRoleName', title: '角色', align: 'center', sortable: true, width: 80 },
                {
                    field: 'iState', title: '状态', align: 'center', sortable: true, width: 80, formatter: function (value) {
                        if (value == 1) return "<span style='color:blue;'>正常</span>";
                        else return "<span style='color:red'>冻结</span>";
                    }
                },
                { field: 'dInsertTime', title: '注册时间', align: 'center', sortable: true, width: 120 },
                { field: 'dLastLoginTime', title: '上一次登录时间', align: 'center', sortable: true, width: 120 },
                {
                    field: 'ID', title: '操作', align: 'center', width: 180, formatter: function (value,row) {
                        var html = [];
                        html.push('<div style="padding:3px;">');
                        $(buttonList).each(function(){
                            html.push('<button type="button" class="btn '+this.sButtonIcon+' btn-sm '+this.sButtonSign+'" data-id="' + value + '" data-iState="'+row.iState+'">');
                            html.push(''+this.sButtonName+'</button>&nbsp&nbsp');
                        });
                        html.push('</div>');
                        return html.join('');
                    }
                },
            ]],
            onLoadSuccess: function () {
                //重置密码事件绑定
                $('.AdminUser_setrole').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    admin.creatModal(admin.route("SetRole")+"?ID="+ID);
                });

                //冻结事件绑定
                $('.AdminUser_freeze').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    var iState = parseInt($(this).attr("data-iState"));//会员状态 1-正常 0-冻结
                    var operate = iState == 0 ? "解冻" : "冻结";
                    admin.confirm("确定要" + operate + "这条数据？", function () {
                        admin.Ajax(admin.route("Freeze"), { ID: ID }, function (r) {
                            admin.grid.datagrid('reload');
                            admin.alert("操作成功");
                        });
                    });
                });

                //删除事件绑定
                $('.AdminUser_delete').on("click", function (event) {
                    event.stopPropagation();
                    var ID = admin.formate("'#'", $(this).attr("data-id"));
                    admin.confirm("确定要删除这条数据？", function () {
                        admin.Ajax(admin.route("Cancel"), { Ids: ID }, function (r) {
                            admin.grid.datagrid('reload');
                            admin.alert("删除成功");
                        });
                    });
                });
            }
        });
    });
</script>