<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>管理员登录</title>
    <link rel="shortcut icon" href="@ViewBag.ICON" type="image/x-icon">
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/bootstrap.min.js"></script>
    <link href="~/Areas/Admin/Content/bootstrapValidator/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/login/css/login2.css" rel="stylesheet" />
</head>
<body>
        <h1>后台登录系统<sup>V2017</sup></h1>
        <div class="login" style="margin-top:50px;">
            <div class="header">
                <div class="switch" id="switch">
                    <a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">快速登录</a>
                    <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">扫码登录</a>
                    <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
                </div>
            </div>
            <!--密码登录-->
            <div class="web_qr_login" id="web_qr_login" style="display: block; height: 310px;">
                <div class="web_login" id="web_login">
                    <div class="login-box">
                        <div class="login_form">
                            <div class="uinArea">
                                <label class="input-tips">帐号：</label>
                                <div class="inputOuter">
                                    <input id="UserName" type="text" class="inputstyle" />
                                </div>
                            </div>
                            <div class="pwdArea">
                                <label class="input-tips">密码：</label>
                                <div class="inputOuter">
                                    <input id="Password" type="password" class="inputstyle" />
                                </div>
                            </div>
                            <div class="pwdArea">
                                <label class="input-tips">验证码：</label>
                                <div class="inputOuter">
                                    <input id="sCode" type="text" class="inputstyle" style="width:100px" />
                                    <img id="code" style="width:85px;height:38px;float:right" src="/Admin/AdminUser/MakePictureCode" />
                                </div>
                            </div>
                            <div style="padding-left:65px;margin-top:20px;">
                                <input type="submit" value="登 录" style="width:150px;" class="button_blue loginUser" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--扫码登录-->
            <div class="qlogin" id="qlogin" style="display:none; ">
                <div class="web_login" style="text-align:center;margin-top:40px;padding-bottom:30px;">
                    <div id="qrcode" style="margin: auto"></div>
                    <p style="color:red;margin-top:5px">
                        微信扫描图中二维码登录
                    </p>
                </div>
            </div>
        </div>
        <div class="jianyi">*推荐使用ie8或以上版本ie浏览器或Chrome内核浏览器访问本站</div>
</body>
</html>
<script src="~/Scripts/mylib/common.admin.js"></script>
<script src="~/Areas/Admin/Content/login/js/login.js"></script>
<script src="~/Scripts/plug-in/qrcode.min.js"></script>
<script type="text/javascript">
    $(function () {
        function GetCode() {
            $('#code').attr("src", '/Admin/AdminUser/MakePictureCode/' + new Date().getTime());
        }

        //点击切换验证码
        $('#code').on("click", function () {
            GetCode();
        });

        //弹出错误信息
        function errorTip(tip, id) {
            $('font').remove();
            if (tip == 1) {
                if ($(id).next().length == 0)
                    $("<font color='red'><b>用户名不能为空</b></font>").insertAfter(id);
            }
            if (tip == 2) {
                if ($(id).next().length == 0)
                    $("<font color='red'><b>密码不能为空</b></font>").insertAfter(id);
            }
            if (tip == 3) {
                if ($(id).next().length == 1)
                    $("<font color='red'><b>验证码不能为空</b></font>").insertAfter($(id).next());
            }
        }

        $(".inputOuter input").on("input", function () {
            if ($(this).val().trim() != "")
                $(this).nextAll('font').remove();
        })

        var admin = new adminPackage();
        admin.routeRegister("Admin", "AdminUser");

        $('.loginUser').on("click", function () {
            var UserName = $('#UserName').val().trim();
            var Password = $('#Password').val().trim();
            var sCode = $('#sCode').val().trim();
            if (UserName == "")
                return errorTip(1, "#UserName");
            if (Password == "")
                return errorTip(2, "#Password");
            if (sCode == "")
                return errorTip(3, "#sCode");
            admin.Ajax(admin.route('LoginCheck'), {
                sCode: sCode,
                sLoginAccout: UserName,
                sPassWord: Password
            }, function (r) {
                admin.alert("登录成功,即将跳转......");
                admin.routeRegister("Admin", "Home");
                setTimeout(function () {
                    location.href = admin.route("Index");
                }, 1000);
            }, function (r) {
                admin.alert(r.info);
                GetCode();
            });
        });

        loginSocket.createSocket("ws://127.0.0.1:@ViewBag.PORT");

    });


    var loginSocket = (function (obj) { return obj; }(new function () {

        var admin = new adminPackage();
        var ws;
        var model =
            {
                sPriKey: '',
                sSendPriKey: '',
                IsFirstConnect: false,
                data:'',
                toJson: function () {
                    return JSON.stringify(this);
                }
            }

        //检查浏览器是否支持webSocket
        function checkBrowser() {
            if (window.WebSocket) {
                return true;
            }
            else
                return false;
        }

        //创建链接
        function createSocket(url) {
            if (checkBrowser()) {
                ws = new WebSocket(url);

                //链接成功时候执行
                ws.onopen = function () {
                    model.connect = true;
                    console.log("连接成功!");
                }

                //接受消息时执行
                ws.onmessage = function (message) {
                    if (message.data) {
                        var res = JSON.parse(message.data);
                        if (res.IsFirstConnect) {//第一次连接
                            model.sPriKey = res.sPriKey;
                            console.log(model.sPriKey);
                            //生成二维码
                            var url = "http://" + document.domain + "/Admin/AdminUser/WeChatLogin?sSendPriKey=" + model.sPriKey;
                            $("#qrcode").qrcode({
                                width: 180, //宽度 
                                height: 180, //高度 
                                text: url    //生成二维码的内容
                            });
                        }
                        else {
                            if (res.data.success) {
                                //登录成功
                                $("#qrcode").next().text("扫码成功,正在登录......");
                                admin.routeRegister("Admin", "AdminUser");
                                admin.Ajax(admin.route("SetSession"), { key: res.data.data }, function (r) {;
                                    $("#qrcode").next().text("登录成功,即将跳转......");
                                    setTimeout(function () {
                                        admin.routeRegister("Admin", "Home");
                                        location.href = admin.route("Index");
                                    }, 1000);
                                });
                            }
                            else {
                                //登录失败
                                $("#qrcode").next().text(res.data.info);
                            }
                        }
                    }
                };

                //链接关闭时候执行
                ws.onclose = function () {
                    console.log("连接关闭!");
                }

                //连接失败时候执行
                ws.onerror = function () {
                    console.log("连接失败!");
                }
            }
            else {
                $("#qrcode").next().text("该浏览器不支持扫码登录,请升级您的浏览器!");
            }
        }

        //发送消息
        function send(data) {
            model.data = data;
            var value = model.toJson();
            ws.send(value);
        }

        return {
            createSocket: createSocket,
            send: send,
        }
    }));
   
</script>