@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>安全登录</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.0.0/weui.min.css">
</head>
<body ontouchstart style="background-color:#eee">
    <!-- 使用 WeUI -->
    <div style="margin-top:10%;text-align:center">
        <img src="@ViewBag.headimgurl" style="height:150px;width: 150px;border-radius: 75px;" />
        <p style="text-align:center;color:red">欢迎你，@ViewBag.nickname</p>
        <p style="height: 50px;line-height: 25px;font-size: 18px;font-weight: 500;">
            你确认要登录台哥来了<br />
            后台管理系统？
        </p>
    </div>

    <div style="margin-left:5%;margin-right: 5%;margin-top:5%">
        <a href="javascript:;" class="weui-btn weui-btn_primary confirm">确认</a>
        <a href="javascript:;" class="weui-btn weui-btn_default">取消</a>
    </div>
    <input type="hidden" id="OpenId" value="@ViewBag.OpenId" />
</body>
</html>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/mylib/common.client.js"></script>
<script type="text/javascript">
    $(function () { 
        loginSocket.createSocket("ws://127.0.0.1:@ViewBag.PORT");
        //登录确认
        $('.confirm').on("click", function () {
            var sOpenId = $('#OpenId').val();
            client.ajax.ajaxRequest("/Admin/AdminUser/WeChatLogin", null, function (r) {
                //登录成功
                r.info = "@(ViewBag.nickname)登录成功,即将跳转.....";
                loginSocket.send(r);

            }, function (r) {
                //登录失败
                loginSocket.send(r);
            });
        });

    })
    var loginSocket = (function (obj) { return obj; }(new function () {
        var admin = new adminPackage();
        var ws;
        var model =
            {
                sPriKey: '',
                sSendPriKey: '@ViewBag.sSendPriKey',//需要发送消息连接标识
                IsFirstConnect: false,
                data: '',
                toJson: function () {
                    return JSON.stringify(this);
                }
            }

        //检查浏览器是否支持webSocket
        function checkBrowser() {
            if (window.WebSocket) {
                return true;
            }
            else
                return false;
        }

        //创建链接
        function createSocket(url) {
            if (checkBrowser()) {
                ws = new WebSocket(url);

                //链接成功时候执行
                ws.onopen = function () {
                    model.connect = true;
                    console.log("连接成功!");
                }

                //接受消息时执行
                ws.onmessage = function (message) {
                    if (message.data) {
                        var res = JSON.parse(message.data);
                        if (res.IsFirstConnect) {//第一次连接
                            model.sPriKey = res.sPriKey;
                        }
                    }
                };

                //链接关闭时候执行
                ws.onclose = function () {
                    console.log("连接关闭!");
                }

                //连接失败时候执行
                ws.onerror = function () {
                    console.log("连接失败!");
                }
            }
            else {
                $("#qrcode").next().text("该浏览器不支持扫码登录,请升级您的浏览器!");
            }
        }

        //发送消息
        function send(data) {
            model.data = data;
            var value = model.toJson();
            ws.send(value);
        }

        return {
            createSocket: createSocket,
            send: send,
        }
    }));
</script>