@{
    Layout = null;  
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>绑定用户</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <!-- body 最后 -->
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>

</head>
<body ontouchstart style="background-color:#eee">
    <!-- 使用 WeUI -->
    <div style="margin-top:10%;text-align:center;display:none;">
        <i class="weui-icon-success weui-icon_msg" style="font-size:100px"></i>
        <p class="tip" style="height: 50px;line-height: 25px;font-size: 18px;font-weight: 500;margin-top:10px;">绑定成功</p>
    </div>
    <div class="mybody">
    <div style="margin-top:5%;text-align:center">
        <img src="@ViewBag.headimgurl" style="height:100px;width: 100px;border-radius: 50px;" />
        <p style="text-align:center;color:red">欢迎你，@ViewBag.nickname</p>
    </div>  
    <form id="register">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">绑定登录账户</div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">真实姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="sName" placeholder="真实姓名">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="sPhone" placeholder="请输入手机号码">
                </div>
            </div>
        </div>
        <div class="weui-cells weui-cells_form register" style="display:none">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">登录账户</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="sAccount" type="text" placeholder="请输入账户">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="sPassWord" type="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="sRePassWord" type="password" placeholder="请再次输入密码">
                </div>
            </div>
        </div>
    </form>
    <div style="margin-left:5%;margin-right: 5%;margin-top:5%">
        <a  class="weui-btn weui-btn_primary bing">绑定</a>
    </div>
    </div>
</body>
</html>
<script src="~/Scripts/mylib/common.client.js"></script>
<script type="text/javascript">
    $(function () {
        var isBingAccount = false;//是否绑定登录账户信息标识
        $('.weui-switch').change(function () {
            var value = $(this).prop("checked")
            if (value) {
                $('.register').show();
                isBingAccount = true;
            }
            else {
                $('.register').hide();
                isBingAccount = false;
            }
        });
        try {
            $('.bing').on("click", function () {
                var json = client.form.parseJson($('#register'));
                if (client.regex.isEmpty(json.sName)) return $.toptip('姓名不能为空!', 1000, 'warning');
                if (client.regex.isEmpty(json.sPhone)) return $.toptip('手机号不能为空!', 1000, 'warning');
                if (!client.regex.isPhone(json.sPhone)) return $.toptip('手机号码格式错误!', 1000, 'warning');
                if (isBingAccount) {
                    if (client.regex.isEmpty(json.sAccount)) return $.toptip('登录账号不能为空!', 1000, 'warning');
                    if (client.regex.isEmpty(json.sPassWord)) return $.toptip('密码不能为空!', 1000, 'warning');
                    if (json.sPassWord.length < 6) return $.toptip('密码长度不能低于6位!', 1000, 'warning');
                    if (json.sPassWord != json.sRePassWord) return $.toptip('两次密码输入不一致!', 1000, 'warning');
                }
                $.showLoading("正在绑定..");
                client.ajax.ajaxRequest("/Admin/AdminUser/WeChatRegister", json, function (r) {
                    //绑定成功
                    $.hideLoading();
                    $('.mybody').hide();
                    $('.mybody').prev().show();
                }, function (r) {
                    //绑定失败
                    $.hideLoading();
                    $.toast("绑定失败", "cancel");
                });
            });
        } catch (e) {
            alert(e.message);
        }
        //绑定事件
       
    });
</script>