@{
    ViewBag.Title = "菜单按钮";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<link href="~/Areas/Admin/Content/icheck/skins/square/blue.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/icheck/icheck.min.js"></script>
<div style="height:100%;width:100%;">
   <ul id="Button" oncontextmenu="return false"></ul>  
</div>
   <!--右键菜单-->
<div id="mm" class="easyui-menu" style="width:120px;">
    <div class="add" data-options="iconCls:'icon-add'">新增按钮</div>
    <div class="edit" data-options="iconCls:'icon-edit'">编辑按钮</div>
    <div class="cancel" data-options="iconCls:'icon-remove'">删除按钮</div>
    <div class="menu-sep"></div>
    <div>Exit</div>
</div>
<script type="text/javascript">
    $(function () {
        var admin = new adminPackage();
        admin.routeRegister("Admin", "Button");
  
        var buttonId;

        /*!
        * method:树形菜单按钮数据绑定
        * author:[汤台]
        * version:[1.0.0]
        */
        admin.grid.tree({
            url: admin.route('List'),
            animate: true,
            onLoadSuccess:function(){
                //折叠所有节点。
                admin.grid.tree("collapseAll");
            },
            onContextMenu: function (e, row) {
                if (row.iconCls == "") {
                    sessionStorage["menuId"] = row.id;//缓存菜单主键ID
                    //二级菜单
                    $('#mm .add').show();
                    $('#mm .edit').hide();
                    $('#mm .cancel').hide();
                    $('#mm').menu('show', {
                        left: e.clientX,
                        top: e.clientY
                    });
                    return;
                }
                if (row.iconCls != undefined && row.iconCls.length > 0) {
                    buttonId = row.id;
                    $('#mm .add').hide();
                    $('#mm .edit').show();
                    $('#mm .cancel').show();
                    $('#mm').menu('show', {
                        left: e.clientX,
                        top: e.clientY
                    });
                }
            }
        });

        /*!
        * method:菜单鼠标右键的单击菜单事件监听
        * author:[汤台]
        * version:[1.0.0]
        */
        $('#mm').menu({
            onClick: function (item) {
                if (item.text == "新增按钮") {
                    admin.creatModal(admin.route("Add"));
                    return;
                }
                /*编辑按钮*/
                if (item.text == "编辑按钮") {
                    admin.creatModal(admin.route("Edit?sButtonId=" + buttonId));
                   return;
                }
                /*删除按钮*/
                if (item.text == "删除按钮") {
                    admin.confirm("确定要删除该按钮？", function () {
                        admin.Ajax(admin.route("Cancel"), { sButtonId: admin.formate("'#'",buttonId) }, function (r) {
                            admin.grid.tree('reload');
                            admin.alert("删除成功");
                        });
                    });
                    return;
                }
            }
        });
    })
</script>