@{
    ViewBag.Title = "测试页面";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<script src="~/Areas/Admin/Content/assets/js/bootstrap.min.js"></script>
<script src="~/Scripts/mylib/common.admin.js"></script>
<table id="User" style="height:100%;width:100%"></table>
<div id="User_toolbar" style="padding:8px;">
    <form id="search">
        <button type="button" class="btn btn-success btn-sm adminUser_add">新增用户</button>
        <button type="button" class="btn btn-info    btn-sm">编辑用户</button>
        <button type="button" class="btn btn-warning btn-sm">冻结用户</button>
        <button type="button" class="btn btn-danger  btn-sm">删除用户</button>
    </form>
</div>
<script type="text/javascript">
    var admin = new adminPackage();
    $('.btn-success').on("click", function () {
        admin.creatModal("/Admin/Test/Add",$(this).text());
    });
</script>