@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link href="~/Areas/Mobile/Content/Swiper/swiper-3.4.2.min.css" rel="stylesheet" />

    <!-- body 最后 -->
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="~/Areas/Mobile/Content/Swiper/swiper-3.4.2.jquery.min.js"></script>
    <style>
        .swiper-container img{
           width:100%;
           height:100%;
        }
    </style>
</head>
<body ontouchstart style="background-color:#eee;height:100%">
        <div class="weui-tab">
            <div class="weui-tab__bd">
                <div class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="swiper-container" style="height:200px;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="~/Areas/Mobile/Content/Shoes/img/61647775-f5d0-4cfe-b84f-96060eb8e2e3.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/Areas/Mobile/Content/Shoes/img/8a009458-f5df-407c-95ca-c2ee81bffbc2.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/Areas/Mobile/Content/Shoes/img/65bd9fc8-7f5e-4dba-b083-0c05b1bc9b96.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-tab__bd-item">
                    <h1>页面二</h1>
                </div>
                <div class="weui-tab__bd-item">
                    <h1>页面三</h1>
                </div>
                <div class="weui-tab__bd-item">
                    <h1>页面四</h1>
                </div>
            </div>

            <div class="weui-tabbar">
                <a  class="weui-tabbar__item weui-bar__item--on">
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
                    <div class="weui-tabbar__icon">
                        <img src="./images/icon_nav_button.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">首页</p>
                </a>
                <a  class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="./images/icon_nav_msg.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">分类</p>
                </a>
                <a  class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="./images/icon_nav_article.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">购物车</p>
                </a>
                <a class="weui-tabbar__item">
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
                    <div class="weui-tabbar__icon">
                        <img src="./images/icon_nav_cell.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">我</p>
                </a>
            </div>
        </div>
</body>
</html>
<script src="~/Scripts/mylib/common.client.js"></script>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        speed:500,
        autoplay: 4000,//可选选项，自动滑动
        autoplayDisableOnInteraction: false,
        watchSlidesProgress: true,
        watchSlidesVisibility:true
    })

    $('.weui-tabbar a').on("click", function () {
        var index = $(this).index();
        $(this).addClass("weui-bar__item--on").siblings().removeClass("weui-bar__item--on");
        $('.weui-tab__bd div').eq(index).addClass("weui-tab__bd-item--active").siblings().removeClass("weui-tab__bd-item--active");
        
        $.ajax()
    })








    client.ajax.ajaxRequest("/JSYHServer/server/BookOrder.ashx", {
        orderInfo: JSON.stringify({
            businessType: businessType,
            account: account, //华为生活账号
            product_name: product_name,
            mobile: phone, //充值的手机号
            product_id: productId, //产品编号
            face: face, //面值
            price: fee, //售价,
            card_type: 1, //充值类型 1-话费 2-流量
            flow_type: flow_type//流量类型
        })
    },
     function (r) {

     });
</script>

<script type="text/javascript">

    //抽奖函数

    (function ($) {
        if (!window.Draw) {

            window.Draw = (function (obj) { return obj; })(new function () {

                //ajax请求
                function request(url, data, callback) {
                    $.ajax({
                        url: url,
                        data: data,
                        type: 'POST',
                        dataType: 'json',
                        async: false,
                        success: function (r) {
                            if (callback) callback(r);
                        }
                    })
                }

                //获取当前抽奖信息
                function GetCurrentInfo() {
                    var currentInfo;
                    request('/Home/GetCurrentInfo', null, function (r) {
                        if (r) {
                            currentInfo = r;
                        }
                        else {
                            currentInfo.success = false;
                            currentInfo.info = "抽奖已结束";
                        }
                    });
                    return currentInfo;
                }

                //获取抽奖滚地名字
                function GetName() {
                    var name = "";
                    request("/Home/GetName", null, function (r) {
                        name = r;
                    });
                    return name;
                }

                //结束抽奖
                function EndCurrentDraw(name) {
                    var state;
                    request("/Home/EndCurrentDraw", { name: name }, function (r) {
                        state = r.success;
                    });
                    return state;
                }

                //获取所有的抽奖名单
                function GetLuckers() {
                    var list;
                    request("/Home/GetLuckers", null, function (r) {
                        list = r.list;
                    });
                    return list;
                }

                return {
                    GetCurrentInfo: GetCurrentInfo,
                    GetName: GetName,
                    EndCurrentDraw: EndCurrentDraw,
                    GetLuckers: GetLuckers
                }
            });
        }
        else {
            console.log("window.Draw已存在");
        }
    })(jQuery);

    var ss = "a=1321&b=434c=4564";
    var array = ss.split
    function GetObjFromString(str) {
        var array = str.split('&');
        var obj = {};
        for (var i = 0; i <= array.length; i++) {
            var key = array[i].split("=")[0];
            var value = array[i].split("=")[1];
            obj[key] = value;
        }
        return obj;
    }
</script>