@{
    ViewBag.Title = "订单查询";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<link href="~/Areas/Admin/Content/Calendar/skin/WdatePicker.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Calendar/WdatePicker.js"></script>
<table id="Orders" style="height:100%;width:100%"></table>
<div id="Orders_toolbar" style="padding:8px;">
    <form id="search">
        <span>状态:</span>
        <select name="iState"  class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">待付款</option>
            <option value="1">待发货</option>
            <option value="2">待收货</option>
            <option value="3">已完成</option>
        </select>
        <span>订单类型:</span>
        <select name="iOrderType" class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">普通订单</option>
            <option value="1">虚拟订单</option>
        </select>
        <span>渠道:</span>
        <select name="iChannel" class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">微信</option>
            <option value="1">PC</option>
        </select>
        <span>下单时间:</span>
        <input type="text"  name="dStaTime" class="form-control input-sm" readonly="readonly"
               style="width:150px;cursor: pointer;" placeholder="开始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"> --
        <input type="text"  name="dEndTime" class="form-control input-sm" readonly="readonly"
               style="width:150px;cursor: pointer" placeholder="结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
        <br /><br />
        <i>模糊查询:</i>
        <input type="text" class="form-control input-sm" placeholder="收件人/手机/订单号/商品编号" style="width:200px" name="searchText">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
         &nbsp; &nbsp; @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var buttonList=@Html.Raw(ViewData["Button_NotToolbar"]);
        var admin = new adminPackage();
        //注册路由
        admin.routeRegister("Admin", "Orders");

        //模糊查询
        $('.searchText').on("click", function () {
            var params = $('#search').serializeArray().toObject();
            admin.grid.datagrid({
                queryParams: params
            });
        });

        //物流设置
        $('.Orders_logistics').on("click", function () {
            var selected = admin.grid.datagrid('getSelections');
            if(selected.length==1){
                if(selected[0].iState==2){
                    admin.creatModal(admin.route("Logistics?sOrderId="+selected[0].ID));
                }
                else
                    admin.alert("待发货的订单才能设置物流信息!");
            }
            else{
                admin.alert("请选择一条数据进行操作!");
            }
        });

        //确认收货操作(批量)
        $('.Orders_confirm').on("click", function () {
            var selected = admin.grid.datagrid('getSelections');
            if (selected.length > 0) {
                var array = [];
                $(selected).each(function () {
                    array.push(this.ID);
                });
                admin.confirm("确定要[确认收货]所选择的订单？", function () {
                    admin.Ajax(admin.route("Confrim"), { sOrdersId: array.join() }, function (r) {
                        admin.grid.datagrid("reload");
                        admin.alert("操作成功");
                    });
                })
            }
            else {
                admin.alert("请选择一条数据进行操作!");
            }
        });

        /*!
        * method:数据列表(datagrid)的绑定
        */
        admin.grid.datagrid({
            fit:true,
            url: admin.route('List'),
            toolbar:admin.toolbar,
            fitColumns:true,
            rownumbers:true,
            striped: true,
            pagination: true,
            pageSize:20,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sOpenId', title: 'OpenId', align: 'center', sortable: true, width: 120 },
                { field: 'sOrderNo', title: '订单号', align: 'center', sortable: true, width: 130 },
                { field: 'sReceiver', title: '收件人', align: 'center', sortable: true, width: 80 },
                { field: 'sPhone', title: '手机号码', align: 'center', sortable: true, width: 80 },
                { field: 'sGoodsNo', title: '商品编号', align: 'center', sortable: true, width: 80 },
                { field: 'sGoodsName', title: '商品名称', align: 'center', sortable: true, width: 120 },
                { field: 'iCount', title: '数量', align: 'center', sortable: true, width: 40 },
                { field: 'dAllPrices', title: '金额', align: 'center', sortable: true, width: 60,formatter:function(value){return value.toFixed(2);} },
                { field: 'dDiscountPrices', title: '优惠金额', align: 'center', sortable: true, width: 60,formatter:function(value){return value.toFixed(2);} },
                { field: 'dPrices', title: '支付金额', align: 'center', sortable: true, width: 60,formatter:function(value){return value.toFixed(2);} },
                { field: 'iOrderType', title: '订单类型', align: 'center', sortable: true, width: 60,formatter:function(value){
                    if(value==0) return "普通订单";
                    else return "虚拟订单";
                    }
                },
                { field: 'iChannel', title: '渠道', align: 'center', sortable: true, width: 50,formatter:function(value){
                    if(value==0) return "微信";
                    else return "PC";
                }},
                { field: 'iState', title: '状态', align: 'center', sortable: true, width: 50,formatter:function(value){
                    if(value==0) return "<span style='color:red'>待付款</span>";
                    if(value==1) return "<span style='color:blueviolet'>待发货</span>";
                    if(value==2) return "<span style='color:green'>待收货</span>";
                    if(value==3) return "<span style='color:blue'>已完成</span>";         
                }
                },
                { field: 'dBookTime', title: '下单时间', align: 'center', sortable: true, width: 120 },
                { field: 'sIp', title: 'Ip地址', align: 'center', sortable: true, width: 90 },
                {
                    field: 'ID', title: '操作', align: 'center', width: 180, formatter: function (value,row) {
                        var html = [];
                        html.push('<div style="padding:3px;">');
                        $(buttonList).each(function(){
                            html.push('<button type="button" class="btn '+this.sButtonIcon+' btn-sm '+this.sButtonSign+'" data-id="' + value + '" data-iState="'+row.iState+'">');
                            html.push(''+this.sButtonName+'</button>&nbsp&nbsp');
                        });
                        html.push('</div>');
                        return html.join('');
                    }
                },
            ]],
            onDblClickRow:function(index,row){
                admin.creatModal(admin.route("Detail?sOrderId="+row.ID));
            },
            onLoadSuccess: function () {
                //确认收货事件
                $('.Orders_reconfirm').on("click",function(event){
                    event.stopPropagation();
                    var iState=parseInt($(this).attr("data-iState"));
                    var sOrdersId=$(this).attr("data-id");
                    if(iState==2){
                        admin.confirm("确定要将该订单状态变为已完成?",function(){
                            admin.Ajax(admin.route("Confrim"),{sOrdersId:sOrdersId},function(r){
                                admin.alert("操作成功");
                                admin.grid.datagrid("reload");
                            })
                        });
                    }
                    else{
                        admin.alert("待收货的订单才能确认收货!");
                    }
                });
            }
        });
    });
</script>

