@{
    ViewBag.Title = "订单查询";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<link href="~/Areas/Admin/Content/toolBar.css" rel="stylesheet" />
<table id="Orders" style="height:100%;width:100%"></table>
<div id="Orders_toolbar" style="padding:8px;">
    <form id="search">
        <span>状态:</span>
        <select name="iState"  class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">待付款</option>
            <option value="1">待发货</option>
            <option value="2">待收货</option>
            <option value="3">已完成</option>
        </select>
        <span>订单类型:</span>
        <select name="iState" class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">普通订单</option>
            <option value="1">虚拟订单</option>
        </select>
        <span>渠道:</span>
        <select name="iState" class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">微信</option>
            <option value="1">PC</option>
        </select>
        <br /><br />
        <span>时间查询:</span>
        <input class="easyui-datetimebox" name="birthday"
               data-options="required:true,showSeconds:false" style="width:150px">--
        <input class="easyui-datetimebox" name="birthday"
               data-options="required:true,showSeconds:false" style="width:150px">
        <span>模糊查询:</span>
        <input type="text" class="form-control input-sm" placeholder="收件人/手机/订单号/商品编号" style="width:200px">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
         &nbsp; &nbsp; @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
    </form>
</div>
<script type="text/javascript">
    $(function () {
      //  var buttonList=@Html.Raw(ViewData["Button_NotToolbar"]);
        var admin = new adminPackage();
        //注册路由
        admin.routeRegister("Admin", "Orders");

        //模糊查询
        $('.searchText').on("click", function () {
            var searchText = $('#search input').val();
            admin.grid.datagrid({
                queryParams: {
                    searchText: searchText
                }
            });
        });

        //新增操作
        $('.Orders_add').on("click", function () {
            admin.creatModal(admin.route("Add"));
        });

        //删除操作
        $('.Orders_cancel').on("click", function () {
            var selected = admin.grid.datagrid('getSelections');
            if (selected.length > 0) {
                var array = [];
                $(selected).each(function () {
                    array.push(admin.formate("'#'", this.ID));
                });
                admin.confirm("确认要删除选择的数据？", function () {
                    admin.Ajax(admin.route("Cancel"), { Ids: array.join() }, function (r) {
                        admin.grid.datagrid("reload");
                        admin.alert("删除成功");
                    });
                })
            }
            else {
                admin.alert("请选择一条数据进行操作!");
            }
        });

        /*!
        * method:数据列表(datagrid)的绑定
        */
        admin.grid.datagrid({
            fit:true,
            url: admin.route('List'),
            toolbar:admin.toolbar,
            fitColumns:true,
            rownumbers:true,
            striped: true,
            pagination: true,
            pageSize:20,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sOpenId', title: 'OpenId', align: 'center', sortable: true, width: 80 },
                { field: 'sOrderNo', title: '订单号', align: 'center', sortable: true, width: 100 },
                { field: 'sReceiver', title: '收件人', align: 'center', sortable: true, width: 80 },
                { field: 'sPhone', title: '手机号码', align: 'center', sortable: true, width: 100 },
                { field: 'sGoodsNo', title: '商品编号', align: 'center', sortable: true, width: 80 },
                { field: 'sGoodsName', title: '商品名称', align: 'center', sortable: true, width: 120 },
                { field: 'iCount', title: '数量', align: 'center', sortable: true, width: 60 },
                { field: 'dAllPrices', title: '金额', align: 'center', sortable: true, width: 80 },
                { field: 'dDiscountPrices', title: '优惠金额', align: 'center', sortable: true, width: 80 },
                { field: 'dPrices', title: '支付金额', align: 'center', sortable: true, width: 80 },
                { field: 'iOrderType', title: '订单类型', align: 'center', sortable: true, width: 80 },
                { field: 'iChannel', title: '渠道', align: 'center', sortable: true, width: 60 },
                { field: 'iState', title: '状态', align: 'center', sortable: true, width: 60 },
                { field: 'dBookTime', title: '下单时间', align: 'center', sortable: true, width: 100 },
                { field: 'sIp', title: 'Ip地址', align: 'center', sortable: true, width: 100 },
                {
                    field: 'ID', title: '操作', align: 'center', width: 180, formatter: function (value,row) {
                        var html = [];
                        html.push('<div style="padding:3px;">');
                        $(buttonList).each(function(){
                            html.push('<button type="button" class="btn '+this.sButtonIcon+' btn-sm '+this.sButtonSign+'" data-id="' + value + '" data-iState="'+row.iState+'">');
                            html.push(''+this.sButtonName+'</button>&nbsp&nbsp');
                        });
                        html.push('</div>');
                        return html.join('');
                    }
                },
            ]],
            onLoadSuccess: function () {
                ////重置密码事件绑定
                //$('.Orders_reset').on("click", function (event) {
                //    event.stopPropagation();
                //    var ID = $(this).attr("data-id");
                //    admin.confirm("确定要将该账号密码重置成为123456？", function () {
                //        admin.Ajax(admin.route("Reset"), { ID: ID }, function (r) {
                //            admin.grid.datagrid('reload');
                //            admin.alert("操作成功");
                //        });
                //    });
                //});

                ////冻结事件绑定
                //$('.Orders_freeze').on("click", function (event) {
                //    event.stopPropagation();
                //    var ID = $(this).attr("data-id");
                //    var iState = parseInt($(this).attr("data-iState"));//会员状态 1-正常 0-冻结
                //    var operate = iState == 0 ? "解冻" : "冻结";
                //    admin.confirm("确定要" + operate + "这条数据？", function () {
                //        admin.Ajax(admin.route("Freeze"), { ID: ID }, function (r) {
                //            admin.grid.datagrid('reload');
                //            admin.alert("操作成功");
                //        });
                //    });
                //});

                ////删除事件绑定
                //$('.Orders_delete').on("click", function (event) {
                //    event.stopPropagation();
                //    var ID = admin.formate("'#'", $(this).attr("data-id"));
                //    admin.confirm("确定要删除这条数据？", function () {
                //        admin.Ajax(admin.route("Cancel"), { Ids: ID }, function (r) {
                //            admin.grid.datagrid('reload');
                //            admin.alert("删除成功");
                //        });
                //    });
                //});
            }
        });
    });
</script>

