 @{  
     string[] weekdays = { "星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六" };
     string week = weekdays[Convert.ToInt32(DateTime.Now.DayOfWeek)];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>成都宜联后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <!--bootstrap引用-->
    <link href="~/Areas/Admin/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/css/ace.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/assets/js/jquery-2.0.3.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/ace.min.js"></script>
    <!--easyui引用-->
    <link href="~/Areas/Admin/Content/easyui/themes/material/tabs.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/easyui/jquery.easyui.min.js"></script>
    <style>
       html  {height:100%;}  body {height:100%;}
       #sidebar a {cursor:pointer; }
    </style> 
</head>
<body>
    <!--header-->
    <div class="navbar navbar-default" id="navbar">
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a class="navbar-brand">
                    <small>
                        <i class="icon-leaf"></i>
                        成都宜联后台管理系统
                    </small>
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li style="margin-right:10px;">
                        <span style="color:white">@DateTime.Now.ToString("yyyy年MM月dd日") @week</span>
                    </li>
                    <li class="light-blue" style="border:none">
                        <a data-toggle="dropdown"  class="dropdown-toggle" style="cursor:pointer">
                            <img class="nav-user-photo" src="~/Areas/Admin/Content/assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>欢迎光临</small>
                                 SuperMan
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close"
                            style="top:100%">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i>
                                    个人资料
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" class="quit">
                                    <i class="icon-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="main-container" id="main-container" style="height:92%">
        <div class="main-container-inner" style="height:100%;";>
            <a class="menu-toggler" id="menu-toggler">
                <span class="menu-text"></span>
            </a>
            <!--左侧菜单栏目-->
            <div class="sidebar" id="sidebar">
                <ul class="nav nav-list">
                    <li class="active">
                        <a>
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 栏目控制台 </span>
                        </a>
                    </li>
                    @*<li>
                        <a>
                            <i class="icon-text-width"></i>
                            <span class="menu-text"> 文字排版 </span>
                        </a>
                    </li>*@
                    <li>
                        <a class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text">系统设置</span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/AdminUser/Index">后台用户管理</span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/AdminRole/Index">角色管理</span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    树菜单
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    jQuery UI
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    可拖拽列表
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>
                                    三级菜单
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a>
                                            <i class="icon-leaf"></i>
                                            第一级
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-toggle">
                                            <i class="icon-pencil"></i>

                                            第四级
                                            <b class="arrow icon-angle-down"></b>
                                        </a>

                                        <ul class="submenu">
                                            <li>
                                                <a>
                                                    <i class="icon-plus"></i>
                                                    添加产品
                                                </a>
                                            </li>

                                            <li>
                                                <a>
                                                    <i class="icon-eye-open"></i>
                                                    查看商品
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-toggle">
                            <i class="icon-list"></i>
                            <span class="menu-text"> 表格 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <i class="icon-double-angle-right"></i>
                                    简单 &amp; 动态
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <i class="icon-double-angle-right"></i>
                                    jqGrid plugin
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a  class="dropdown-toggle">
                            <i class="icon-edit"></i>
                            <span class="menu-text"> 表单 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    表单组件
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    向导提示 &amp; 验证
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    编辑器
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    文件上传
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>
                            <i class="icon-list-alt"></i>
                            <span class="menu-text"> 插件 </span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="icon-calendar"></i>

                            <span class="menu-text">
                                日历
                                <span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
                                    <i class="icon-warning-sign red bigger-130"></i>
                                </span>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="icon-picture"></i>
                            <span class="menu-text"> 相册 </span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-toggle">
                            <i class="icon-tag"></i>
                            <span class="menu-text"> 更多页面 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    用户信息
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    收件箱
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    售价单
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    购物车
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    时间轴
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    登录 &amp; 注册
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="active open">
                        <a class="dropdown-toggle">
                            <i class="icon-file-alt"></i>
                            <span class="menu-text">
                                其他页面
                                <span class="badge badge-primary ">5</span>
                            </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    帮助
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    404错误页面
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    500错误页面
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    网格
                                </a>
                            </li>

                            <li class="active">
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    空白页面
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
            </div>

            <!--内容区域-->
            <div class="main-content" style="height:100%;">
                <!--栏目内容区域-->
                <div class="page-content" style="height:100%;width:100%">
                    <div id="tabs" class="easyui-tabs" data-options="fit:'true',tabHeight:35">
                        <div title="首页" style="padding:10px;">
                        </div>
                    </div>
                </div>
            </div>
            <!--内容区域-->
        </div>
    </div>
    <!--footer-->
    <div style="text-align:center;position: relative; background: #CACACA; width: 100%;height:3%;padding-top:2px">
        <div>&copy;2008-@DateTime.Now.Year <a href="http://www.cdelink.net" target="_blank" title="宜联科技">www.cdelink.net</a>, Inc. All rights reserved. 成都宜联科技有限责任公司</div>
    </div>
</body>
</html>
<script src="~/Scripts/mylib/common.admin.js"></script>
<script type="text/javascript">
    $(function () {   
        domin.bingEvent();
        domin.menuList();
    });

    var domin = function (obj) { return obj; }(new function () {
  
        var admin = new adminPackage();

        //绑定菜单导航栏
        function menuList() {
            $('.submenu li a').on("click", function () {
                var title = $(this).find("span").text();
                var url = $(this).find("span").attr("data-url");
                if ($('#tabs').tabs("getTab", title)) {
                    $('#tabs').tabs("select", title);
                }
                else {
                    $('#tabs').tabs('add', {
                        title: title,
                        content: '<iframe scrolling="auto" frameborder="0"  src="' + url + '" width="100%" height="100%" style="display:-webkit-box";></iframe>',
                        closable: true,
                        //tools: [{
                        //    iconCls: 'icon-mini-refresh',
                        //    handler: function () {
                        //        alert('refresh');
                        //    }
                        //}]
                    });
                }
            });
        }

        //事件的绑定
        function bingEvent() {

            //调整窗口大小
            window.onresize = function () {
                $('#tabs').tabs('resize');
            }

            //绑定头像下拉菜单
            $('.icon-caret-down').parent().on("click", function () {
                $(this).next().toggle();
            });


            //绑定导航栏的控制
            $('#sidebar-collapse').on("click", function () {
                event.stopPropagation();
                if ($('#sidebar').hasClass('menu-min'))
                    $('#sidebar').removeClass('menu-min');
                else
                    $('#sidebar').addClass('menu-min');
                $('#tabs').tabs('resize');
            });
        }

        return {
            bingEvent: bingEvent,
            menuList: menuList
        }
    });
</script>
