<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Models-->
    <typeAlias alias="IReading" type="DapperHelper.IReading, DapperHelper" />
    <typeAlias alias="SqlDbBase" type="DapperHelper.SqlDbBase, DapperHelper" />
    <!-- Services --><!--
    <typeAlias alias="IBookService" type="BusinessBackend.IBookService, BusinessBackend" />
    <typeAlias alias="BookService" type="BusinessBackend.BookService, BusinessBackend" />
    --><!-- Repositories --><!--
    <typeAlias alias="IBookRepository" type="BusinessBackend.IBookRepository, BusinessBackend" />
    <typeAlias alias="BookRepository" type="BusinessBackend.BookRepository, BusinessBackend" />-->
  </typeAliases>
  <container>
    <register type="IReading" mapTo="SqlDbBase" />
    <!--<register type="IBookRepository" mapTo="BookRepository" name="SQLrepo" />-->
  </container>
</unity>