<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!--查询接口-->
    <typeAlias alias="IReading"  type="DapperHelper.IReading,DapperHelper" />
    <typeAlias alias="SqlDbBase" type="DapperHelper.SqlDbBase,DapperHelper" />
    <!--操作接口-->
    <typeAlias alias="IWriting"    type="EFBaseHelper.IWriting,EFBaseHelper" />
    <typeAlias alias="WriteManage" type="EFBaseHelper.WriteManage,EFBaseHelper" />
    
    <!--方法接口配置-->
      <!--超级用户接口-->
    <typeAlias alias="ISuperMan"    type="SystemInterface.ISuperMan,SystemInterface" />
    <typeAlias alias="SuperManServices" type="SystemModel.SuperManServices,SystemModel" />
     <!--后台用户接口-->
    <typeAlias alias="IAdminUser"    type="SystemInterface.IAdminUser,SystemInterface" />
    <typeAlias alias="AdminUserServices" type="SystemModel.AdminUserServices,SystemModel" />
    <!--角色接口-->
    <typeAlias alias="IAdminRole"    type="SystemInterface.IAdminRole,SystemInterface" />
    <typeAlias alias="AdminRoleServices" type="SystemModel.AdminRoleServices,SystemModel" />
    <!--菜单接口-->
    <typeAlias alias="IMenu"    type="SystemInterface.IMenu,SystemInterface" />
    <typeAlias alias="MenuServices" type="SystemModel.MenuServices,SystemModel" />
    <!--菜单接口-->
    <typeAlias alias="IButton"    type="SystemInterface.IButton,SystemInterface" />
    <typeAlias alias="ButtonServices" type="SystemModel.ButtonServices,SystemModel" />
    <!--网站接口-->
    <typeAlias alias="IWebSite"    type="SystemInterface.IWebSite,SystemInterface" />
    <typeAlias alias="WebSiteServices" type="SystemModel.WebSiteServices,SystemModel" />
    <!--微信公众号接口-->
    <typeAlias alias="IWeChat"    type="SystemInterface.IWeChat,SystemInterface" />
    <typeAlias alias="WeChatServices" type="SystemModel.WeChatServices,SystemModel" />
    <!--微信自定义菜单接口-->
    <typeAlias alias="IWeChatMenu"    type="SystemInterface.IWeChatMenu,SystemInterface" />
    <typeAlias alias="WeChatMenuServices" type="SystemModel.WeChatMenuServices,SystemModel" />
    <!--微信图文素材接口-->
    <typeAlias alias="IWeChatNews"    type="SystemInterface.IWeChatNews,SystemInterface" />
    <typeAlias alias="WeChatNewsServices" type="SystemModel.WeChatNewsServices,SystemModel" />
    <!--微信关注回复接口-->
    <typeAlias alias="IWeChatConcern"    type="SystemInterface.IWeChatConcern,SystemInterface" />
    <typeAlias alias="WeChatConcernServices" type="SystemModel.WeChatConcernServices,SystemModel" />
    <!--微信关键字接口-->
    <typeAlias alias="IWeChatKeyWord"    type="SystemInterface.IWeChatKeyWord,SystemInterface" />
    <typeAlias alias="WeChatKeyWordServices" type="SystemModel.WeChatKeyWordServices,SystemModel" />
    <!--订单接口-->
    <typeAlias alias="IOrders"    type="LogicHandlerInterface.IOrders,LogicHandlerInterface" />
    <typeAlias alias="OrdersServices" type="LogicHandlerModel.OrdersServices,LogicHandlerModel" />
    <!--会员接口-->
    <typeAlias alias="IClient"    type="LogicHandlerInterface.IClient,LogicHandlerInterface" />
    <typeAlias alias="ClientServices" type="LogicHandlerModel.ClientServices,LogicHandlerModel" />
    <!--商品接口-->
    <typeAlias alias="IGoods"    type="LogicHandlerInterface.IGoods,LogicHandlerInterface" />
    <typeAlias alias="GoodsServices" type="LogicHandlerModel.GoodsServices,LogicHandlerModel" />
    <!--方法接口配置-->
  </typeAliases>
  <container>
    <!--查询操作的映射-->
    <register type="IReading" mapTo="SqlDbBase" />
    <register type="IWriting" mapTo="WriteManage" />
    <!--查询操作的映射-->

    <!--方法的映射-->
          <!--超级用户接口的映射-->
    <register type="ISuperMan" mapTo="SuperManServices" />
          <!--后台用户接口的映射-->
    <register type="IAdminUser" mapTo="AdminUserServices" />
         <!--角色接口的映射-->
    <register type="IAdminRole" mapTo="AdminRoleServices" />
         <!--菜单接口的映射-->
    <register type="IMenu" mapTo="MenuServices" />
         <!--按钮接口的映射-->
    <register type="IButton" mapTo="ButtonServices" />
         <!--网站接口的映射-->
    <register type="IWebSite" mapTo="WebSiteServices" />
        <!--微信公众号接口的映射-->
    <register type="IWeChat" mapTo="WeChatServices" />
        <!--微信自定义菜单的映射-->
    <register type="IWeChatMenu" mapTo="WeChatMenuServices" />
        <!--微信图文素材的映射-->
    <register type="IWeChatNews" mapTo="WeChatNewsServices" />
        <!--微信关注回复的映射-->
    <register type="IWeChatConcern" mapTo="WeChatConcernServices" />
        <!--微信关键字的映射-->
    <register type="IWeChatKeyWord" mapTo="WeChatKeyWordServices" />
        <!--订单的映射-->
    <register type="IOrders" mapTo="OrdersServices" />
        <!--会员的映射-->
    <register type="IClient" mapTo="ClientServices" />
        <!--商品的映射-->
    <register type="IGoods" mapTo="GoodsServices" />
    
    <!--<register type="IBookRepository" mapTo="BookRepository" name="SQLrepo" />-->
    <!--方法的映射-->
  </container>
</unity>