@{
    ViewBag.Title = "商品列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<link href="~/Areas/Admin/Content/icheck/skins/square/blue.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/icheck/icheck.min.js"></script>
<table id="Goods" style="height:100%;width:100%"></table>
<div id="Goods_toolbar" style="padding:8px;">
    <form id="search">
        <span>上/下架:</span>
        <select name="bIsShelves" class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">下架</option>
            <option value="1">上架</option>
        </select>
        <span>商品类型:</span>
        <select name="iGoodsType" class="form-control input-sm" style="width:100px;">
            <option value="-1">--请选择--</option>
            <option value="0">普通商品</option>
            <option value="1">虚拟商品</option>
        </select>
        <span>模糊查询:</span>
        <input type="text" class="form-control input-sm" placeholder="商品名/商品编号" style="width:200px" name="searchText">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
        &nbsp; &nbsp; @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var buttonList=@Html.Raw(ViewData["Button_NotToolbar"]);
        var admin = new adminPackage();
        //注册路由
        admin.routeRegister("Admin", "Goods");

        //模糊查询
        $('.searchText').on("click", function () {
            var params=$('#search').serializeArray().toObject();
            admin.grid.datagrid({
                queryParams:params
            });
        });

        //新增操作
        $('.Goods_add').on("click", function () {
            admin.creatModal(admin.route("Add"));
        });

        //编辑操作
        function UpdateGoods(id){
            admin.creatModal(admin.route("Edit?sGoodsId="+id));
        }

        //设置优惠价格
        $('.Goods_setdisprices').on("click",function(){
            var selected = admin.grid.datagrid('getSelections');
            if(selected.length==1){
                admin.creatModal(admin.route("SetPrices?sGoodsId="+selected[0].ID));
            }
            else
               admin.alert("请选择一条数据进行操作!");
        });

        //设置积分
        $('.Goods_setintegral').on("click",function(){
            var selected = admin.grid.datagrid('getSelections');
            if(selected.length==1){
                admin.creatModal(admin.route("Integral?sGoodsId="+selected[0].ID));
            }
            else
                admin.alert("请选择一条数据进行操作!");
        });

        //上下架操作
        $('.Goods_shelves').on("click", function () {
            var selected = admin.grid.datagrid('getSelections');
            if (selected.length > 0) {
                var array = [];
                $(selected).each(function () {
                    array.push(this.ID);
                });
                admin.confirm("确认要上/下架所选择的商品？", function () {
                    admin.Ajax(admin.route("Shelves"), { sGoodsId: array.join() }, function (r) {
                        admin.grid.datagrid("reload");
                        admin.alert("操作成功");
                    });
                })
            }
            else {
                admin.alert("请选择一条数据进行操作!");
            }
        });

        /*!
        * method:数据列表(datagrid)的绑定
        */
        admin.grid.datagrid({
            fit:true,
            url: admin.route('List'),
            toolbar:admin.toolbar,
            fitColumns:true,
            rownumbers:true,
            striped: true,
            pagination: true,
            pageSize:20,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sGoodsName', title: '商品名称', align: 'center', sortable: true, width: 180 },
                { field: 'sGoodsNo', title: '商品编号', align: 'center', sortable: true, width: 80 },
                {
                    field: 'iGoodsType', title: '商品类型', align: 'center', sortable: true, width: 60, formatter: function (value) {
                        if (value == 0) return "普通商品";
                        else return "虚拟商品";
                    }
                },
                { field: 'iCount', title: '库存', align: 'center', sortable: true, width: 40 },
                { field: 'sGoodsPrices', title: '商品价格', align: 'center', sortable: true, width: 60,formatter:function(value){return value.toFixed(2); } },
                { field: 'sDisPrices', title: '优惠价格', align: 'center', sortable: true, width: 60 ,formatter:function(value){return value.toFixed(2); }},
                {
                    field: 'IsRateGiving', title: '比例增加(优惠)', align: 'center', sortable: true, width: 70, formatter: function (value) {
                        if (value) return "<span style='color:blue'>启用</span>";
                        else return "<span style='color:red'>禁用</span>";
                    }
                },
                { field: 'iIntegral', title: '积分', align: 'center', sortable: true, width: 40 },
                {
                    field: 'IsRateAdd', title: '比例增加(积分)', align: 'center', sortable: true, width: 60, formatter: function (value) {
                        if (value) return "<span style='color:blue'>启用</span>";
                        else return "<span style='color:red'>禁用</span>";
                    }
                },
                {
                    field: 'bIsShelves', title: '上/下架', align: 'center', sortable: true, width: 60, formatter: function (value) {
                        if (value) return "<span style='color:green'>上架</span>";
                        else return "<span style='color:red'>下架</span>";
                    }
                },
                {
                    field: 'bIsActivity', title: '活动', align: 'center', sortable: true, width: 60, formatter: function (value) {
                        if (value) return "<span style='color:blue'>启用</span>";
                        else return "<span style='color:red'>禁用</span>";
                    }
                 },
                { field: 'dInsertTime', title: '添加时间', align: 'center', sortable: true, width: 100 },
                {
                    field: 'ID', title: '操作', align: 'center', width: 180, formatter: function (value,row) {
                        var html = [];
                        html.push('<div style="padding:3px;">');
                        $(buttonList).each(function(){
                            html.push('<button type="button" class="btn '+this.sButtonIcon+' btn-sm '+this.sButtonSign+'" data-id="' + value + '" data-shelves="'+row.bIsShelves+'" data-bIsActivity="'+row.bIsActivity+'">');
                            html.push(''+this.sButtonName+'</button>&nbsp&nbsp');
                        });
                        html.push('</div>');
                        return html.join('');
                    }
                },
            ]],
            onLoadSuccess: function () {
                //编辑事件绑定
                $('.Goods_edit').on("click",function(event){
                    event.stopPropagation();
                    var id=$(this).attr("data-id");
                    UpdateGoods(id);
                });

                //上下架事件绑定
                $('.Goods_oneshelves').on("click",function(event){
                    event.stopPropagation();
                    var id=$(this).attr("data-id");
                    var bIsShelves=$(this).attr("data-shelves");
                    var tip=bIsShelves=="true"?"下架":"上架";
                    admin.confirm("确认要["+tip+"]该商品？", function () {
                        admin.Ajax(admin.route("Shelves"), { sGoodsId: id }, function (r) {
                            admin.grid.datagrid("reload");
                            admin.alert("操作成功");
                        });
                    })
                });

                //活动的开关事件bIsActivity
                $('.Goods_activity').on("click",function(event){
                    event.stopPropagation();
                    var id=$(this).attr("data-id");
                    var bIsActivity=$(this).attr("data-bIsActivity");
                    var tip=bIsActivity=="true"?"禁用":"启用";
                    admin.confirm("确认要["+tip+"]该商品的活动？", function () {
                        admin.Ajax(admin.route("Activity"), { sGoodsId: id }, function (r) {
                            admin.grid.datagrid("reload");
                            admin.alert("操作成功");
                        });
                    })
                });
            }
        });
    });
</script>

